<!--
 * @Author: fracong
 * @Date: 2020-08-27 16:35:55
 * @LastEditors: fracong
 * @LastEditTime: 2020-08-27 17:34:49
-->
<div class="carousel-info" [ngStyle]="{'width': carouselInfo.leftItemInfo.width}">
    <div class="item-info" *ngFor="let item of carouselItemList; let index = index" [ngClass]="['item-info-'+(index+1)]">
        <div class="item-info-title">
            {{item.title.length <= 10 ? item.title : item.title.substring(0,10)+'……'}}
        </div>
        <div class="item-info-introduction">{{item.introduction.length <= 45 ? item.introduction : item.introduction.substring(0,44)+'……'}}</div>
        <a class="item-info-action"  (mouseover)="activeBtnHove=true;" (click)="openItemUrl(item.actionOpenType, item.actionOpenUrl)"
            (mouseleave)="activeBtnHove=false;" *ngIf="item.actionDisplay == undefined || item.actionDisplay"
            [ngStyle]="{'width':carouselInfo.leftItemInfo.actionItemWidth,'background-color': activeBtnHove ? carouselInfo.leftItemInfo.activegColor : carouselInfo.leftItemInfo.bgColor}">
            <div >
                {{item.actionName}}
            </div>
        </a>
    </div>
</div>