:host::ng-deep .fc-util-nav-tag-filter{
    .item-title{
        font: 700 12px/18px '-apple-system',Simsun;
        margin-bottom: 5px;
    }
    .selected-tags{
        .selected-tags-list{
            min-height: 32px;
            margin-top: 5px;
        }
    }
    .tag-category{
        border-bottom: 1px #ebebeb solid;
        padding: 5px 0;
        margin-bottom: 5px;
    }
    .tag-normal{
        cursor: pointer;
        margin: 5px 2px;
        font-size: 12px;
        padding: 2px;
        font: 12px/18px "Microsoft YaHei", sans-serif;
    }
    .tag-normal:hover{
        color:  #ff4141;
    }
    .active-red .tag-normal.active{
        color: #fff;
        background-color: rgb(255, 65, 65);
    }
    .active-blue .tag-normal.active{
        color: #fff;
        background-color: #5f5ffc;
    }
    .active-yellow .tag-normal.active{
        background-color:#d6c20f;
    }
    .active-gray .tag-normal.active{
        color: #fff;
        background-color: #545457;
    }
    .active-green .tag-normal.active{
        color: #fff;
        background-color: #1ea50d;
    }
    .active-pink .tag-normal.active{
        color: #fff;
        background-color: #d41a9d;
    }
    .active-purple .tag-normal.active{
        color: #fff;
        background-color: #861186;
    }
}