:host::ng-deep .fc-util-carousel{
    width: 700px;
    position: relative;
    .carousel-top{
        height: 233.33px;
        img{
            box-shadow: 0 1px 3px #999;
            width:100%;
        }
        a{
            position: absolute;
        }
        .top-btn{
            position: absolute;
            z-index: 10;
        }
    }
}