<!--
 * @Author: fracong
 * @Date: 2020-08-21 16:26:40
 * @LastEditors: fracong
 * @LastEditTime: 2020-08-25 16:19:17
-->
<ng-container>
    <div class="fc-util-carousel">
        <div class="carousel-top">
            <div class="top-btn carousel-top-left">
                <button (click)="moveRightOneItem()">Left</button> 
             </div>
             <a *ngFor="let item of carouselItemList; let index = index" [ngClass]="['item'+(index+1)]">
                <img src="{{item.imgUrl}}"  (click)="clickImg(index+1, item.openUrl);">
            </a>
            <div class="top-btn carousel-top-right">
                <button (click)="moveLeftOneItem()" >Right</button> 
             </div>
        </div>
        <div class="carousel-bottom" ></div>
    </div>
</ng-container>
