<!--
 * @Author: fracong
 * @Date: 2020-08-18 11:04:14
 * @LastEditors: fracong
 * @LastEditTime: 2020-08-21 12:44:01
-->
<ng-container>
    <div class="fc-util-nav">
        <div class="nav-main">
            <div class="nav-list">
                <div *ngFor="let item of navItemList" 
                class="nav-item" 
                [ngClass]="item.classList"
                [ngStyle]="{'background-color': ((navInfo.activeKey == item.itemKey) ? navInfo.activeBgc : item.isHover? navInfo.unactiveHoverBgc : (navInfo.mainBgc?navInfo.mainBgc:navInfo.navBgc)),
                    'border-top': ((navInfo.activeKey == item.itemKey) || (!(navInfo.activeKey == item.itemKey) && item.isHover))? navInfo.activeBgc+' solid 2px': (navInfo.mainBgc?navInfo.mainBgc:navInfo.navBgc)+' solid 2px'}"
                (click)="navChangeActive(item.clickType, item.url, item.itemKey)"
                (mouseover)="item.isHover = true;"
                (mouseleave)="item.isHover = false;">
                    <a class="item-type item-font" id="{{item.itemKey}}" *ngIf="'font'== item.type" [ngStyle]="contentStyle">
                        {{item.title}}
                    </a>
                    <a class="item-type item-img" *ngIf="'img'== item.type">
                        <img  id="{{item.itemKey}}" src="{{item.imgUrl}}" [ngStyle]="{width: item.imgWidth}">
                    </a>
                    <a class="item-type item-img-font" *ngIf="'img-font' ==  item.type" [ngStyle]="contentStyle">
                        <div  id="{{item.itemKey}}" >
                            <img src="{{item.imgUrl}}" [ngStyle]="{width: item.imgWidth}">
                            {{item.title}}
                        </div>
                    </a>
                    <a class="item-type item-font-img" *ngIf="'font-img' ==  item.type" [ngStyle]="contentStyle">
                        <div  id="{{item.itemKey}}" >
                            {{item.title}}
                            <img src="{{item.imgUrl}}" [ngStyle]="{width: item.imgWidth}">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</ng-container>