:host::ng-deep .fc-util-nav{
    width: 100%;
}

:host::ng-deep .fc-util-nav .nav-main{
    margin-left: auto;
    margin-right: auto;
    .nav-list{
        .nav-item{
            cursor: pointer;
            float: left;
            img{
                margin: 0 5px 0 5px;
            }
        }
        .nav-item:hover{
            opacity: 0.65;
        }
    }
}