<!--
 * @Author: 
 * @Date: 2021-03-31 14:11:40
 * @LastEditors: Please set LastEditors
 * @LastEditTime: 2021-04-16 15:49:30
-->
<div class="menu-item" *ngIf="item.show" [ngClass]="{'menu-item-selected':item.showSelected}">
    <div class="item-icon-arrow"  (click)="upDownFunc(item)" [ngStyle]="{'left': arrowLeft}"
        [ngClass]="{'item-down':item.childShow, 'item-up': !item.childShow}"></div>
    <div [ngClass]="{'icon-url': !item.hasChild}" (click)="changeUrl(item)">
        <div #iconTag class="item-icon-tag" [ngStyle]="{'left':iconLeft}"></div>
        <div class="menu-name" [ngStyle]="{'left':nameLeft}">
            {{item.name}}
        </div>
    </div>
</div>