<!--
 * @Author: fracong
 * @Date: 2020-08-19 16:21:30
 * @LastEditors: fracong
 * @LastEditTime: 2020-08-21 16:10:36
-->
<ng-container>
    <div class="fc-util-rank-list"[ngStyle]="{'width':rankInfo.width}">
        <div class="rank-list-top"  (mouseover)="ifMoreHover=true;" (mouseleave)="ifMoreHover=false;">
            <span class="rank-list-title">{{rankInfo.title}}</span>
            <span class="rank-list-more" *ngIf="ifMore && ifMoreHover">
                <a href="{{rankInfo.moreUrl}}" [ngStyle]="{'color': rankInfo.moreColor}">
                    {{rankInfo.moreTitle}}
                    <span>
                        >
                    </span>
                </a>
            </span>
            <span class="rank-list-top-right" *ngIf="rankInfo.titleRight.display">
                <div *ngIf="rankInfo.titleRight.type == 'nav'">
                    <span *ngFor="let item of rankInfo.titleRight.navItemList; let index = index;" class="top-right-list">
                        <a class="right-item" 
                            (click)="changeRight(item.type);"
                            [ngStyle]="{'color': (item.type ==  rankInfo.titleRight.navActiveType)? rankInfo.titleRight.navActiveColor : '#a6a6a6'}">
                            {{item.title}}
                        </a>
                        <span *ngIf="index != (rankInfo.titleRight.navItemList.length - 1)" class="right-point">{{rankInfo.titleRight.navSplitSymbol}}</span>
                    </span>
                </div>
            </span>
        </div>
        <ul>
            <li *ngFor="let item of rankItemList;let index = index" [ngClass]="{'unfrist-item': index != 0, 'first-item': index == 0}">
                <div class="item-num" *ngIf="rankInfo.itemLeftDisplayType == 'num'" [ngClass]="{'lang-zh': item.langZh != 'undefined' ? item.langZh : rankInfo.langZh}">
                    <span [ngStyle]="{'color': item.numColor,'background': item.numBgc}">{{item.rankNum}}</span>
                </div>
                <div class="item-font" *ngIf="rankInfo.itemLeftDisplayType == 'font'" [ngClass]="{'lang-zh': item.langZh != 'undefined' ? item.langZh : rankInfo.langZh}">
                    <div class="item-font-name" [ngStyle]="{'min-width': setMinWidth(this.rankInfo.itemLeftFontSize)}">「{{item.leftFont}}」</div>
                </div>
                <a href="#7" class="item-title" 
                    [ngClass]="{'lang-zh': item.langZh != 'undefined' ? item.langZh : rankInfo.langZh}" 
                    [ngStyle]="{'padding-left': (rankInfo.itemLeftDisplayType == 'num') ? '9px' : '0px'}">
                    <span>
                        {{item.title | rankingItemTitle:rankInfo.itemTitleSize:item.langZh:rankInfo.langZh}}
                    </span>
                </a>
                <div class="item-flag" *ngIf="rankInfo.itemRightDisplay" [ngStyle]="{'margin-top': (!item.rightLangZh  || !rankInfo.langZh) ? '4px' : 0,'min-width': setMinWidth(this.rankInfo.itemRightFontSize)}">
                    <span>
                        {{item.rightTitle}}
                    </span>
                </div>
            </li>
        </ul>
    </div>
</ng-container>
