:host::ng-deep{
    a{
        color: #262626;
        text-decoration: none;
    }
    table {
        border-spacing: 0;
        border-collapse: collapse;
        tr {
            td, th{
                text-align: left;
            }
            td.font-right, th.font-right{
                text-align: right;
            }
            td.font-center, th.font-center{
                text-align: center;
            }
            td.font-left, th.font-left{
                text-align: left;
            }
        }
    }
    input:focus, button:focus {
        outline: transparent auto 0px;
    }
    a, button, input[type='checkbox']{
        cursor: pointer;
    }
}