:host::ng-deep .fc-util-normal-list{
    .list-top .table-type{
        width: 100%;
    }
    .list-top.padding-left-10{
        padding-left: 10px;
    }
    .list-top.padding-left-8{
        padding-left: 8px;
    }
}