<!--
 * @Author: fracong
 * @Date: 2020-08-28 17:10:19
 * @LastEditors: fracong
 * @LastEditTime: 2020-09-12 10:59:38
-->
<ng-container>
    <div class="fc-util-normal-list" style="width: 1000px;margin-top: 10px;">
        <div class="list-top" [ngClass]="listInfo.topClass">
            <div class="table-type">
                <app-normal-table #normalTable [tableInfo]="listInfo.tableInfo" [tableList]="tableList" [fieldList]="fieldList" (buttonClick)="clickBackInfo($event)"></app-normal-table>
            </div>
            <div></div>
        </div>
        <div class="list-pagination">
            <app-page-normal></app-page-normal>
        </div>
    </div>
</ng-container>