<!--
 * @Author: fracong
 * @Date: 2020-08-28 17:46:40
 * @LastEditors: Please set LastEditors
 * @LastEditTime: 2021-04-22 09:28:29
-->
<ng-container>
    <table class="table-list" width="100%">
        <thead>
            <tr>
                <th class="table-check-box" *ngIf="!tableInfo.isHideCheckBox" [ngStyle]="{'width': tableInfo.checkBoxWidth}">
                    <input type="checkbox" name="allNum" (click)="checkAllBox();">
                </th>
                <th *ngFor="let field of fieldList;let index = index" [ngStyle]="{'width': field.width}" [ngClass]="field.thClass">
                    {{ field.name }}
                </th>
            </tr>
        </thead>
        <tbody [ngClass]="{'show-border':tableInfo.isShowTableBorder}">
            <tr *ngFor="let item of tableList; let index = index;"
                [ngStyle]="{'background-color': tableInfo.isShowHoverTr && isTrHover && index == hoverIndex? tableInfo.hoverTrColor : ''}"
                (mouseover)="isTrHoverFunc(true, index)" 
                (mouseleave)="isTrHoverFunc(false, index)">
                <td *ngIf="!tableInfo.isHideCheckBox" style="text-align: center;">
                    <input type="checkbox" name="listNum"  value="{{item[tableInfo.itemKey]}}" (click)="checkItemBox();">
                </td>
                <td *ngFor="let field of fieldList;" [ngClass]="field.class">
                    <div class="item-type"*ngIf="field.type == 'typeList'">
                        <span>「</span>
                        <span *ngFor="let typeItem of item[field.key]; let typeItemIndex = index;">
                            <a  *ngIf="field.listType == 'aLabel'; else otherTypeItem;" href="{{ typeItem.url}}" 
                                [ngStyle]="{'color':(index == hoverIndex && field.key == hoverFieldKey && hoverTypeItemIndex == typeItemIndex &&  isHover) ? field.aHoverColor: field.aColor}"
                                (mouseover)="isHoverFunc(true, index, field.key, typeItemIndex)" 
                                (mouseleave)="isHoverFunc(false, index, field.key, typeItemIndex)">
                                {{ typeItem.value }}
                            </a>
                            <ng-template #otherTypeItem>{{ typeItem }}</ng-template>
                            <span class="split-symbol"*ngIf="typeItemIndex != (item[field.key].length -1)">{{ field.splitSymbol }}</span>
                        </span>
                        <span>  」</span>
                    </div>
                    <div *ngIf="field.type == 'aLabel'">
                        <a  href="{{ item[field.key].url }}" [ngStyle]="{'color':(index == hoverIndex && field.key == hoverFieldKey &&  isHover) ? field.aHoverColor: field.aColor}"
                            (mouseover)="isHoverFunc(true, index, field.key, undefined)" (mouseleave)="isHoverFunc(false, index, field.key, undefined)">
                            {{ substringValue(field.maxLength, item[field.key].value) }}
                        </a>
                    </div>
                    <div *ngIf="field.type == 'html'"
                        [ngStyle]="{'color':(index == hoverIndex && field.key == hoverFieldKey &&  isHover) ? field.aHoverColor: field.aColor}"
                        (mouseover)="isHoverFunc(true, index, field.key, undefined)" (mouseleave)="isHoverFunc(false, index, field.key, undefined)"
                        [innerHTML]="item[field.key] | transformHtml">
                    </div>
                    <div *ngIf="field.type == 'tagList'"
                        [ngStyle]="{'color':(index == hoverIndex && field.key == hoverFieldKey &&  isHover) ? field.aHoverColor: field.aColor}"
                        (mouseover)="isHoverFunc(true, index, field.key, undefined)" (mouseleave)="isHoverFunc(false, index, field.key, undefined)">
                        <span *ngFor="let tagItem of item[field.key];let tagIndex = index" class="item-tag" [ngStyle]="{'color': field.tagColor,'background-color': tableInfo.tagBgcolorList[field.tagBgColorList[tagIndex]]}">
                            {{ substringValue(5, tagItem) }}
                        </span>
                    </div>
                    <div class="item-button" *ngIf="field.type == 'button'">
                        <button *ngFor="let buttonItem of field.buttonList" 
                            (click)="clickButtons(buttonItem.key, item)"
                            [ngStyle]="{'color': buttonItem.color, 'background-color': buttonItem.bgColor,'font-size': buttonItem.fontSize}">
                            {{ buttonItem.name }}
                        </button>
                    </div>
                    <div *ngIf="field.type == undefined || field.type == 'font'"
                        [ngStyle]="{'color':(index == hoverIndex && field.key == hoverFieldKey &&  isHover) ? field.aHoverColor: field.aColor}"
                        (mouseover)="isHoverFunc(true, index, field.key, undefined)" (mouseleave)="isHoverFunc(false, index, field.key, undefined)">
                        {{ substringValue(field.maxLength, item[field.key]) }}
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</ng-container>