:host::ng-deep table.table-list{
    thead tr th{
        font: 700 13px/16px '-apple-system',Simsun;
        height: 20px;
        vertical-align: top;
    }
    tbody tr {
        td{
            font: 14px/40px '-apple-system',Simsun;
            height: 40px;
            .item-tag{
                font: 14px/24px "-apple-system", Simsun;
                padding: 2px 4px 3px;
                border-radius: 5px;
                margin-right: 2px;
            }
            .item-button button{
                font: 400 14px/20px -apple-system, Simsun;
                display: inline-block;
                text-align: center;
                vertical-align: middle;
                user-select: none;
                border: 1px solid transparent;
                padding: 1px 2px;
                line-height: 1.5;
                border-radius: .25rem;
                margin-right: 2px;
                cursor: pointer;
            }
            .item-button button:hover{
                font-weight: 600;
            }
        }
        td.margin-left-8 .item-type{
            overflow: hidden;
            margin-left: -8px;
        }
        td.font-color-gray, td.a-color-gray a{
            color: #666;
        }
        td.font-color-black, td.a-color-black a{
            color: #262626;
        }
        td.font-size-14{
            font: 14px/16px '-apple-system',Simsun;
        }
        td.font-size-12{
            font: 12px/16px '-apple-system',Simsun;
        }
        td.font-family-arial .split-symbol{
            font-family: Arial;
            margin-left: 2px;
            margin-right: 2px;
        }
        td .item-type a{
            margin-left: -4px;
            margin-right: -4px;
        }
    }
    tbody.show-border tr td{
        border-bottom: 1px solid #e6e6e6;
    }
}