<ng-container>
    <table class="table-list" width="100%" style="padding-left:10px;">
        <thead>
            <tr>
                <td style="width: 5%;">类型</td>
                <td style="width: 5%;">名称</td>
                <td style="width: 25%;">简介</td>
                <td style="width: 5%;">大小</td>
                <td style="width: 8%;">所属人</td>
                <td style="width: 5%;text-align: right;">时间</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="font: 14px/40px '-apple-system',Simsun;color: grey;">
                    <div class="item-type" >「视频」</div>
                </td>
                <td>我的世界</td>
                <td style="color: #666;">我的世界我的世界我的世界我的世界我的世界我的世界</td>
                <td style="font-size: 12px;color: grey;">100M</td>
                <td style="font-size: 12px;color: grey;">fracong</td>
                <td style="font-size: 12px;color: #666;text-align: right;">2020-07-13</td>
            </tr>
            <tr>
                <td style="font: 14px/40px '-apple-system',Simsun;color: grey;">
                    <div class="item-type" >「视频」</div>
                </td>
                <td>我的世界</td>
                <td style="color: #666;">我的世界我的世界我的世界我的世界我的世界我的世界</td>
                <td style="font-size: 12px;color: grey;">100M</td>
                <td style="font-size: 12px;color: grey;">fracong</td>
                <td style="font-size: 12px;color: #666;text-align: right;">2020-07-13</td>
            </tr>
            <tr>
                <td style="font: 14px/40px '-apple-system',Simsun;color: grey;">
                    <div class="item-type" >「视频」</div>
                </td>
                <td>我的世界</td>
                <td style="color: #666;">我的世界我的世界我的世界我的世界我的世界我的世界</td>
                <td style="font-size: 12px;color: grey;">100M</td>
                <td style="font-size: 12px;color: grey;">fracong</td>
                <td style="font-size: 12px;color: #666;text-align: right;">2020-07-13</td>
            </tr>
            <tr>
                <td style="font: 14px/40px '-apple-system',Simsun;color: grey;overflow: hidden;margin-left: -8px;">
                    <div class="item-type" >「视频」</div>
                </td>
                <td>我的世界</td>
                <td style="color: #666;">我的世界我的世界我的世界我的世界我的世界我的世界</td>
                <td style="font-size: 12px;color: grey;">100M</td>
                <td style="font-size: 12px;color: grey;">fracong</td>
                <td style="font-size: 12px;color: #666;text-align: right;">2020-07-13</td>
            </tr>
        </tbody>
    </table>
</ng-container>