.fc-bottom{
    .dialog-test-btn{
        font: 400 14px/20px -apple-system, Simsun;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        user-select: none;
        border: 1px solid transparent;
        padding: 1px 2px;
        line-height: 1.5;
        border-radius: .25rem;
        margin-right: 4px;
        
        cursor: pointer;
    }
    .open-dialog-btn{
        color: rgb(255, 255, 255);
        background-color: rgb(0, 123, 255);
    }
    .close-dialog-btn{
        color: rgb(255, 255, 255);
        background-color: yellow;
    }
}

:host::ng-deep .test-drag {
    background-color: #ebebeb;
    &-index {
        position: relative;
        background-color: #ebebeb;
    }
    &-bottom {
        width: 100vw;
        height: 200px;
        position: absolute;
        z-index: 50;
        left: 0;
        display: flex;
        flex-direction: row;
        &-left {
            overflow-y:auto;
            overflow-x: hidden;
            .left-content {
                margin: 5px;
            }
        }
        &-middel {
            height: 200px;
            cursor: col-resize;
            border-left: 1px solid #aeaeae;
            border-right: 1px solid #aeaeae;
            .middel-btn {
                background-color: #ebebeb;
                height: 200px;
                width: 15px;
                position: relative;
                &-content {
                    position: absolute;
                    top: 95px;
                    background-image: url(src/assets/fonts/icons/right-arrow.svg);
                    width:15px;
                    height:24px;
                    background-size: 15px 24px;
                    cursor: pointer;
                }
                &-content:hover {
                    background-image: url(src/assets/fonts/icons/right-arrow-white.svg);
                }
                &-content.no-show {
                    background-image: url(src/assets/fonts/icons/left-arrow.svg);
                }
                &-content.no-show:hover {
                    background-image: url(src/assets/fonts/icons/left-arrow-white.svg);
                }
            }
        }
        &-right {
            overflow-y:auto;
            .right-content {
                color: green;
            }
        }
    }
}