<!--
 * @Author: fracong
 * @Date: 2020-08-18 10:36:47
 * @LastEditors: fracong
 * @LastEditTime: 2020-08-31 15:21:08
-->
<div class="fc-util">
    <div class="fc-top">
        <app-nav-single-button [navInfo]="navInfo" [navItemList]="navItemList" (navSingleButtonNode)="changeNavList($event)"></app-nav-single-button>
        <app-nav-category [navItemList]="categoryNavList" [navInfo]="categoryNavInfo" (categoryNavNode)="changeCategoryNavList($event)"></app-nav-category>
    </div>
    <div class="fc-bottom">
        <app-normal-list #normalList [listInfo]="normalListInfo" [tableList]="normalTableList" [fieldList]="normalFieldList" (tableButtonClick)="clickBackInfo($event)"></app-normal-list>
        <app-carousel-normal [carouselInfo]="carouselInfo" [carouselItemList] = "carouselItemList"></app-carousel-normal>
        <app-ranking-list 
            [rankItemList]="rankItemList" 
            (rankListRightNote)="changeItemList($event)" 
            [rankInfo]="rankInfo" 
            [ifMore]="true">
        </app-ranking-list>
        <app-nav-vertical [navInfo]="verticalNavInfo" [navItemList]="verticalNavList" (verticalNavNode)="changeVerticalNavList($event)"></app-nav-vertical>
    </div>
</div>