<!--
 * @Author: fracong
 * @Date: 2020-08-21 09:18:49
 * @LastEditors: fracong
 * @LastEditTime: 2020-09-01 10:28:45
-->
<ng-container>
    <div class="fc-util-nav-vertical" [ngStyle]="{'width':navInfo.width,'color':navInfo.titleColor,'background-color': navInfo.bgColor}">
        <div class="nav-title">
            <span [ngStyle]="{'font-size':navInfo.titleFontSize}">{{navInfo.title}}</span>
        </div>
        <ul class="nav-list">
            <li *ngFor="let item of navItemList" class="nav-item" [ngStyle]="{'margin-bottom':navInfo.itemMargin}">
                <a (mouseover)="item.isHover = true;" (mouseleave)="item.isHover = false;" (click)="changeItem(item.key)"
                [ngStyle]="{'color': setItemColor(item.isHover, item.key)}">
                    <span [ngStyle]="{'font-weight':(navInfo.activeKey == item.key) ? 700 :400,'font-size':navInfo.itemFontSize}">{{item.title}}</span>
                </a>
                <span class="icon-triangle right-triangle" [ngStyle]="{'border-left-color': navInfo.activeKey == item.key ? '#ed4259' : ''}" *ngIf="navInfo.activeKey == item.key"></span>
            </li>
        </ul>
    </div>
</ng-container>
