/* You can add global styles to this file, and also import other style files */
.icon-triangle{
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
}

.fc-icon{
    cursor: pointer;
    background-size: 19px 25px;
    width: 19px;
    height: 25px;
}