/* You can add global styles to this file, and also import other style files */
.icon-triangle{
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
}

.icon-arrow{
    position: relative;
    margin-right: 17px;
    span{
        position: absolute;
        
        display: inline-block;
        width: 0;
        height: 0;
        vertical-align: middle;
        border-top: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 5px solid transparent;
        i{
            position: absolute;
            vertical-align: middle;
            width: 0;
            height: 0;
            border-top: 4px solid transparent;
            border-right: 4px solid transparent;
            border-bottom: 4px solid transparent;
            border-left: 4px solid transparent;
        }
    }
}
.icon-arrow.arrow-down span{
    top: 7px;
    left: 3px;
    border-top-color: #000;
    i{
        top: -5px;
        left: -4px;
        border-top-color: #fff;
    }
}
.icon-arrow.arrow-up span{
    top: 2px;
    left: 3px;
    border-bottom-color: #000;
    i{
        top: -3px;
        left: -4px;
        border-bottom-color: #ffffff;
    }
}
.icon-arrow.arrow-right span{
    top: 4px;
    left: 7px;
    border-left-color: #000;
    i{
        top: -4px;
        left: -5px;
        border-left-color: #ffffff;
    }
}

.icon-arrow.arrow-left span{
    top: 4px;
    left: 1px;
    border-right-color: #000;
    i{
        top: -4px;
        left: -3px;
        border-right-color: #ffffff;
    }
}

.fc-icon{
    cursor: pointer;
    background-size: 19px 25px;
    width: 19px;
    height: 25px;
}

.fc-util .fc-util-tag-list .tag-item{
    display: inline-block;
}

.fc-util .fc-inline{
    display: inline-block;
}

.fc-flex-center{
    display: flex;
    flex-direction:row;
    justify-content: center !important;
}

.fc-flex-right{
    display: flex;
    flex-direction:row;
    justify-content: flex-end !important;
}

.fc-flex-left{
    display: flex;
    flex-direction:row;
    justify-content: left !important;
}

.fc-float-left{
    float: left;
}

.fc-float-right{
    float: right;
}