:host::ng-deep .fc-util-category-nav{
    width: calc(100%-12px);
    display: flex;
    padding-left: 12px;
    .nav-item{
        color: #a6a6a6;
        .nav-point{
            font: 12px/50px Arial;
            margin: 0 8px;
        }
    }
}