<!--
 * @Author: fracong
 * @Date: 2020-08-20 13:45:45
 * @LastEditors: fracong
 * @LastEditTime: 2020-09-02 08:20:35
-->
<ng-container>
    <div class="fc-util-category-nav" [ngStyle]="{'height': navInfo.height,'background': navInfo.background, 'font':navInfo.fontSzie+'/'+navInfo.height+' '+navInfo.fontFamily}">
        <div class="nav-item" [ngClass]="{'nav-up-down': item.itemNavType == 'up-down', 'nav-drop-down': isActiveDropDown(item)}" *ngFor="let item of navItemList; let index = index;">
            <a class="nav-title" (click)="changeNav(item.navKeyNum, item.itemNavType)" (mouseover)="isHover=true;hoverNavKeyNum=item.navKeyNum;" (mouseleave)="isHover=false;hoverNavKeyNum=undefined;">
                <span class="item-title" *ngIf="item.itemNavType == undefined || item.itemNavType == 'title'" 
                    [ngStyle]="{'color': isNavActiveColor(item.navKeyNum), 'font-weight':isNavActiveWeight(item.navKeyNum)}">
                    {{item.title}}
                </span>
                <span class="item-up-down" *ngIf="item.itemNavType == 'up-down'" 
                    [ngStyle]="{'color': isNavActiveColor(item.navKeyNum), 'font-weight': isNavActiveWeight(item.navKeyNum)}">
                   <div class="item-up-down-title" >{{item.title}}</div> 
                    <div class="item-up-down-icon" 
                        [ngStyle]="{'filter': 'drop-shadow('+isNavActiveColor(item.navKeyNum)+' 80px 0)',
                        'transform':'rotate('+(remarkIsUpDownMap.get(item.navKeyNum) ? '' : '-')+'90deg) translateX(-80px)',
                        'background-image':'url('+item.imgUrl+')'}">
                    </div>
                </span>
                <span #dropDown class="item-drop-down" *ngIf="item.itemNavType == 'drop-down'" 
                    [ngStyle]="{'color': isNavActiveColor(item.navKeyNum), 'font-weight': isNavActiveWeight(item.navKeyNum)}">
                    <span class="drop-down-title" >{{ (item.dropDownActiveKey == undefined || item.dropDownActiveKey == 0) && item.dropDownActiveTitle? item.title : item.dropDownActiveTitle}}</span>
                    <span class="icon-triangle left-triangle" *ngIf="!(isShowDropDown && remarkDropDownNum == item.navKeyNum)" [ngStyle]="{'border-right-color': isNavActiveColor(item.navKeyNum)}"></span>
                    <span class="icon-triangle bottom-triangle" *ngIf="isShowDropDown && remarkDropDownNum == item.navKeyNum" [ngStyle]="{'border-top-color': isNavActiveColor(item.navKeyNum)}"></span>
                    <div class="drop-down-hide"*ngIf="isShowDropDown && remarkDropDownNum == item.navKeyNum" [ngStyle]="{'top': '22px','left': '-5px','width':'100px'}">
                        <div class="drop-down-item"
                            (click)="selectDropDownItem(item.navKeyNum, item.itemNavType, {'key':0, 'title': item.title})">
                            {{ item.title }}
                        </div>
                        <div *ngFor="let dropDownItem of item.dropDownItemKeys" class="drop-down-item"
                            (click)="selectDropDownItem(item.navKeyNum, item.itemNavType, dropDownItem)">
                            {{ dropDownItem.title }}
                        </div>
                    </div>
                 </span>
            </a>
            <span class="nav-point" [ngClass]="{'item-up-down': item.itemNavType == 'up-down', 'item-drop-down': item.itemNavType == 'drop-down'}" *ngIf="index != (navItemList.length - 1)">{{navInfo.splitSymbol}}</span>
        </div>
    </div>
</ng-container>
