<!--
 * @Author: fracong
 * @Date: 2020-08-20 13:45:45
 * @LastEditors: fracong
 * @LastEditTime: 2020-09-01 09:43:46
-->
<ng-container>
    <div class="fc-util-category-nav" [ngStyle]="{'height': navInfo.height,'background': navInfo.background, 'font':navInfo.fontSzie+'/'+navInfo.height+' '+navInfo.fontFamily}">
        <div class="nav-item" *ngFor="let item of navItemList; let index = index;">
            <a class="nav-title" (click)="changeNav(item.navKeyNum, item.itemNavType)">
                <span class="item-title" *ngIf="item.itemNavType == undefined || item.itemNavType == 'title'" [ngStyle]="{'color': (navInfo.activeNum==item.navKeyNum) ? navInfo.activeColor : '#a6a6a6','font-weight':(navInfo.activeNum==item.navKeyNum)? '700' : '400'}">
                    {{item.title}}
                </span>
                <span class="item-up-down" *ngIf="item.itemNavType == 'up-down'" [ngStyle]="{'color': (navInfo.activeNum==item.navKeyNum) ? navInfo.activeColor : '#a6a6a6','font-weight':(navInfo.activeNum==item.navKeyNum)? '700' : '400'}">
                   <div class="item-up-down-title" >{{item.title}}</div> 
                    <div class="item-up-down-icon" 
                        [ngStyle]="{'filter': 'drop-shadow('+((navInfo.activeNum==item.navKeyNum) ? navInfo.activeColor : '#a6a6a6')+' 80px 0)',
                        'transform':'rotate('+(remarkIsUpMap.get(item.navKeyNum) ? '' : '-')+'90deg) translateX(-80px)',
                        'background-image':'url('+item.imgUrl+')'}">
                    </div>
                </span>
            </a>
            <span class="nav-point" [ngClass]="{'item-up-down': item.itemNavType == 'up-down'}" *ngIf="index != (navItemList.length - 1)">{{navInfo.splitSymbol}}</span>
        </div>
    </div>
</ng-container>
